{% extends 'home_page.html' %}

{% block title %}
    <title>LaFresco - Confirm Password Reset</title>
    <style>
    body {
        padding-top: 150px;
    }
    </style>
{% endblock title %}

{% block content %}
    <div class="container">
    {% if password_changed %}
    <div>Your password is successfully changed</div>
    <a href="{% url 'accounts:login' %}">Login again?</a>
    {% elif form %}
        <form method="post" class="need-validation" novalidate action="">{% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                {{ field.label }}
                {{ field }}
                {% if field.errors %}
                <p style="color: red">{{ field.errors | striptags }}</p>
                {% endif %}
                </div>
            {% endfor %}
        <button type="submit" class="btn btn-primary text-uppercase">Change Password</button>
        </form>
    {% endif %}
    {% if messages %}
        <ul class="messages" style="list-style-type: none">
            {% for message in messages %}
            <li style="color: red" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message | striptags }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock content %}