{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/85b4eb7f61.js" crossorigin="anonymous"></script>
    {% block title %}
        <style>
        body {
            padding-top: 6%;
        }
        </style>
    <title>Home - LaFresco</title>
    {% endblock title %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% endblock css %}
    {% block fonts %}
    {% endblock fonts %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
{% endblock head %}


<body id="page-top">
    {% block navbar %}
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container"><a class="navbar-brand" href="http://{{ request.META.HTTP_HOST }}#page-top">La Fresco</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="http://{{ request.META.HTTP_HOST }}/#contact">How It Works?</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'cart:list_items' %}">Products</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'orders:all_orders' %}">My Orders</a></li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'accounts:profile' request.user.id %}">{{ request.user.email }}</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'accounts:logout' %}">Logout</a></li>
                    {% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'accounts:login' %}">Login</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'accounts:register' %}">Signup</a></li>
                    {% endif %}
                    <li class="nav-item" role="presentation"><a style="padding: 15px" class="nav-link js-scroll-trigger" href="{% url 'cart:show_cart' %}">
                        <i class="fas fa-shopping-cart"></i>My Cart</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock navbar %}

    {% block content %}
    <header class="masthead" style="background-image:url({% static 'img/header-bg.jpg' %});">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><span>Welcome To La Fresco Store!</span></div>
                <div class="intro-heading text-uppercase"><span>It's Nice To Meet You</span></div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button" href="{% url 'cart:list_items' %}">Place Order</a></div>
        </div>
    </header>
    <section id="contact" style="background-image:url({% static 'img/map-image.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">How It Works?</h2>
                    <h3 class="section-subheading section-heading">1. <a href="{% url 'accounts:login' %}">Login</a> or <a href="{% url 'accounts:register' %}">Create an account</a> if you haven't already.</h3>
                    <h3 class="section-subheading section-heading">2. Click on products to go to products page.</h3>
                    <h3 class="section-subheading section-heading">3. Enter quantity of items that you want to purchase and add them to cart.</h3>
                    <h3 class="section-subheading section-heading">4. Click on My Cart Icon on top right corner to view your cart and click "proceed to buy".</h3>
                    <h3 class="section-subheading section-heading">5. Confirm your order and you will be given an ORDER_ID.</h3>
                    <h3 class="section-subheading section-heading">6. Show this ORDER_ID in LaFresco Store to get your items.</h3>
            </div>
            </div>
        </div>
    </section>
    {% endblock content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static 'js/script.min.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}

</body>

</html>